<!DOCTYPE html>
<html lang="en" ng-app="EggApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Egga Hartung - Software Craftsperson in Berlin</title>

    <meta name="theme-color" content="#0f4fb4">
    <meta name="description" content="Experienced Coder, Aspiring Software Craftsperson, Passionate Learner">
    <link rel=”author” href=”https://plus.google.com/+JanHartung“/>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css"
          rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">

    <link rel="contact" title="Contact" href="/#/contact"/>

    <style>
        body {
            padding: 0.5em;
            padding-top: 70px;
            margin-right: 1.5em;
        }

        .fa {
            margin-left: 2.5em;
        }

        .row-content {
            padding-left: 4em;
        }

        .well {
            margin: 1em;
        }

        .label-inverse {
            background-color: #ffffff;
            margin: 0.5em;
        }

        a {
            color: #0f4fb4;
        }

        #footer {
            padding: 1em;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-material-light-blue navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand">Egga Hartung</a>
    </div>
</nav>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <div class="jumbotron jumbotron-material-light-blue-200">
            <img class="shadow-z-2" src="img/profile.jpg" style="float:left; margin-right: 1em; -moz-border-radius: 75px; border-radius: 75px; "/>
            <h1>Passionate Software Craftsperson</h1>

            <p>I am very passionate about code quality, tirelessly improve my skills and care about delivering
                high-grade results.</p>
        </div>

        <h2>Contact</h2>

        <div class="list-group" ng-controller="ContactController">

            <div class="well well-material-light-blue-200" ng-repeat="site in sites">
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="icon fa {{ site.icon }} fa-li"></i>
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading">{{ site.name }}</h4>

                        <a ng-href="{{site.url}}" target="_blank" ng-if="site.url">
                            {{site.label}}
                        </a>
                        <span ng-bind="site.label" ng-if="!site.url"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-center" ng-controller="FooterController">
    <p>This site was made using awesome open source projects!</p>

    <div class="row">
                <span class="label label-inverse" ng-repeat="site in sites">
                         {{site.label}}
                    <a href="{{ site.url }}" target="_blank">{{ site.name }}</a>
                </span>
    </div>
</div>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
<script src="js/app.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-60612865-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>