<!DOCTYPE html>
<html lang="en" ng-app="initExample">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>egga.de</title>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.5/css/material.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <style>
            body { padding-top: 70px; }
            .fa {  margin-left: 2.5em; }
            .row-content {  padding-left: 4em; }
        </style>
        
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-sanitize.js"></script>


        
    </head>
    <body>
    
        <nav class="navbar navbar-material-cyan navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="page = 'index'" style="background: url(img/logo.png) no-repeat; background-position:5px 5px; padding-left: 60px;">Egga</a>
            </div>
        </nav>
        
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                
                <div class="jumbotron">
                    <h1>Passionate Software Craftsman</h1>
                    <p>I am very passionate about code quality, tirelessly improve my skills and care about delivering high-grade results. I have written software in over a dozen languages for dozens of platforms. From GUI driven apps over web sites and command line applications to highly available services running on hundreds of servers.</p>
                </div>
                
                <h2>Contact</h2>
                <div class="list-group" ng-controller="ExampleController">
                    
                     <script>
                        angular.module('initExample', ['ngSanitize'])
                          .controller('ExampleController', ['$scope', function($scope) {
                            $scope.sites = [
                              { name:'Mail', icon:'fa-envelope', content:'<a href="mailto:mail@egga.de">mail@egga.de</a>' },
                              { name:'Phone', icon:'fa-phone', content:'+49 163 234 23 05' },
                              { name:'Google+', icon:'fa-google-plus', content:'<a href="https://plus.google.com/+JanHartung" target="_blank">+JanHartung</a> Best option to contact me: Start a Hangout.' },
                              { name:'Threema', icon:'fa-lock', content:'<a href="https://threema.ch/en" target="_blank">KNFPDCEN</a>' },
                              { name:'Telegram', icon:'fa-paper-plane', content:'<a href="https://telegram.org/" target="_blank">Egga</a>' },
                              { name:'Twitter', icon:'fa-twitter', content:'<a href="https://twitter.com/egga_de" target="_blank">@egga_de</a>' },
                              { name:'Skype', icon:'fa-skype', content:'<a href="skype:egga_de?userinfo" target="_blank">egga_de</a> Please contact me in advance, so I can turn it on' },
                              { name:'LinkedIn', icon:'fa-linkedin', content:'<a href="https://www.linkedin.com/in/janhartung" target="_blank">Jan Hartung</a>' },
                              { name:'Xing', icon:'fa-xing', content:'<a href="https://www.xing.com/profile/Jan_Hartung9" target="_blank">Jan Hartung</a>' },
                              { name:'Github', icon:'fa-github', content:'<a href="https://github.com/Egga" target="_blank">Egga</a>' },
                              { name:'Bitbucket', icon:'fa-bitbucket', content:'<a href="https://bitbucket.org/Egga" target="_blank">Egga</a>' },
                              { name:'Trello', icon:'fa-trello', content:'<a href="https://trello.com/egga" target="_blank">egga</a>' },
                              { name:'Meetup', icon:'fa-users', content:'<a href="http://www.meetup.com/members/82301962/" target="_blank">Jan Hartung</a>' },
                              { name:'Lanyrd', icon:'fa-suitcase', content:'<a href="http://lanyrd.com/profile/jan-hartung/" target="_blank">Jan Hartung</a>' },
                              { name:'Confide', icon:'fa-shield', content:'<a href="https://getconfide.com/" target="_blank">Jan Hartung</a>' },
                              { name:'Yo', icon:'fa-hand-o-right', content:'<a href="http://www.justyo.co/" target="_blank">EGGA</a>' },
                            ];
                          }]);
                    </script>
                
                    <div class="list-group-item well" ng-repeat="site in sites">
                        <div class="row-action-primary">
                            <i class="icon fa {{ site.icon }} fa-li"></i>
                        </div>
                        <div class="row-content">
                            <h4 class="list-group-item-heading">{{ site.name }}</h4>
                            <p class="list-group-item-text" ng-bind-html="site.content"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    </body>
</html>